<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.ahtik.wordwrap.toggleWordWrap"
            objectClass="org.eclipse.ui.IEditorInput">
         <action
               class="com.ahtik.wordwrap.ToggleWordWrapAction"
               id="com.ahtik.wordwrap.toggleWordWrap"
               label="%action.label.virtualWordWrap"
               menubarPath="additions"
               state="false"
               style="toggle">
         </action>
      </objectContribution>
   </extension>
   
      <extension
         point="org.eclipse.ui.commands">
   
      <category
            name="Visual Word Wrap 6"
            description="Visual Word Wrap 5"
            id="com.ahtik.wordwrap" />
            
      <command
            categoryId="com.ahtik.wordwrap"
            description="Visual Word Wrap 8"
            id="com.ahtik.wordwrap.toggle_command"
            name="Visual Word Wrap 7"/>
            
      </extension>
<extension
         point="org.eclipse.ui.handlers">            
      <handler
            class="com.ahtik.wordwrap.ToggleHandler"
            commandId="com.ahtik.wordwrap.toggle_command">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
            
   	</extension>
   	
     <extension point="org.eclipse.ui.bindings">
      <key
            commandId="com.ahtik.wordwrap.toggle_command"
            sequence="M1+M2+V"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
   	</extension>
   	
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="com_ahtik_wordwrap_actionSet"
		   label="%ActionSet.name"
		   visible="true"
		   >
		   
		   <!--class="com.ahtik.wordwrap.ToggleWordWrapAction"
			   class="com.ahtik.wordwrap.DelegateProov"		   			   		  
		   /-->
					   
		   <action id="com_ahtik_wordwrap_toggleAction"
		   definitionId="com.ahtik.wordwrap.toggle_command"
			   menubarPath="edit/additions"
			   toolbarPath="com_ahtik_wordwrap/toggle_wordwrap"
			   label="%ActionSet.label"
			   tooltip="%ActionSet.tooltip"
			   icon="icons/wrap16.gif"
			   state="false"
			   style="toggle">
		   </action>
		   		   
	   </actionSet>
   </extension>
</plugin>
