<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.ahtik.wordwrap.toggleWordWrap"
            objectClass="org.eclipse.ui.IEditorInput">
         <action
               class="com.ahtik.wordwrap.ToggleWordWrapAction"
               id="com.ahtik.wordwrap.toggleWordWrap"
               definitionId="com.ahtik.wordwrap.toggleCommand"
               label="%action.label.wordwrap"
               menubarPath="additions"
               state="false"               
               style="toggle">
         </action>
      </objectContribution>
   </extension>
   

      <extension
         point="org.eclipse.ui.commands">
   
      <category
            name="Word Wrap"
            description="Word Wrap"
            id="com.ahtik.wordwrap" />
            
      <command
            categoryId="com.ahtik.wordwrap"
            description="Word Wrap"
            id="com.ahtik.wordwrap.toggleCommand"
            name="Word Wrap"/>
            
      </extension>
    
<extension
         point="org.eclipse.ui.handlers">            
      <handler
            class="com.ahtik.wordwrap.ToggleHandler"
            commandId="com.ahtik.wordwrap.toggleCommand">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
            
   	</extension>

     <extension point="org.eclipse.ui.bindings">
      <key
            commandId="com.ahtik.wordwrap.toggleCommand"
            sequence="M1+M3+W"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
   	</extension>

</plugin>
